*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #5d7715, #2e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #9faa6f;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo-app h2{
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20px;
}
.todo-app img{
    width: 35px;
    margin-left: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;

}
.line{
    font-size: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #76a100;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
}
button:hover{
    
    background-color: #5c851a;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top:12;
    left: 8px;
}
ul li.checked{
    color: #000000;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #030303;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}