* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #5d7715, #2e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #9faa6f;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20px;
}

.todo-app img {
    width: 35px;
    margin-left: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.line {
    font-size: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #76a100;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: #5c851a;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12;
    left: 8px;
}

ul li.checked {
    color: #000000;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #030303;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

@media (max-width: 480px) {
    .todo-app {
        padding: 15px 10px;
        margin: 40px auto 0;
    }

    .todo-app h2 {
        font-size: 22px;
        margin: 10px;
    }

    .row {
        padding-left: 8px;
        margin-bottom: 15px;
    }

    .line {
        font-size: 14px;
    }

    input {
        padding: 6px;
        font-size: 14px;
    }

    button {
        padding: 10px 20px; 
        font-size: 14px;
        width: 100%; 
        box-sizing: border-box; 
    }

    ul li {
        font-size: 14px;
        padding: 8px 8px 8px 40px;
    }

    ul li::before {
        top: 8px;
        left: 5px;
        height: 20px;
        width: 20px;
    }

    ul li span {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
}


@media (max-width: 360px) {
    .todo-app {
        padding: 12px 8px;
        margin: 30px auto 0;
    }

    .todo-app h2 {
        font-size: 20px;
        margin: 5px;
    }

    .row {
        padding-left: 5px;
        margin-bottom: 12px;
    }

    .line {
        font-size: 12px;
    }

    input {
        padding: 5px;
        font-size: 12px;
    }

    button {
        padding: 8px 15px; 
        font-size: 12px;
        width: 100%; 
        box-sizing: border-box;
    }

    ul li {
        font-size: 12px;
        padding: 6px 8px 6px 35px;
    }

    ul li::before {
        top: 6px;
        left: 5px;
        height: 18px;
        width: 18px;
    }

    ul li span {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }
}


@media (max-width: 600px) {
    .todo-app {
        padding: 20px 15px;
        margin: 50px auto 0;
    }

    .todo-app h2 {
        font-size: 24px;
        margin: 15px;
    }

    .row {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .line {
        font-size: 16px;
    }

    input {
        padding: 8px;
        font-size: 16px;
    }

    button {
        padding: 12px 40px;
        font-size: 16px;
    }

    ul li {
        font-size: 16px;
        padding: 10px 8px 10px 45px;
    }

    ul li::before {
        top: 10px;
        left: 6px;
        height: 24px;
        width: 24px;
    }

    ul li span {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .todo-app {
        padding: 30px 20px;
    }

    .todo-app h2 {
        font-size: 28px;
    }

    .row {
        padding-left: 15px;
        margin-bottom: 25px;
    }

    .line {
        font-size: 18px;
    }

    input {
        padding: 10px;
        font-size: 18px;
    }

    button {
        padding: 14px 45px;
        font-size: 16px;
    }

    ul li {
        font-size: 18px;
        padding: 12px 8px 12px 50px;
    }

    ul li::before {
        height: 26px;
        width: 26px;
        top: 10px;
        left: 8px;
    }

    ul li span {
        width: 38px;
        height: 38px;
        font-size: 21px;
    }
}

@media (min-width: 1024px) {
    .todo-app {
        width: 540px;
        padding: 40px 30px;
    }

    .todo-app h2 {
        font-size: 30px;
    }

    .row {
        padding-left: 20px;
        margin-bottom: 25px;
    }

    .line {
        font-size: 20px;
    }

    input {
        padding: 10px;
        font-size: 18px;
    }

    button {
        padding: 16px 50px;
        font-size: 17px;
    }

    ul li {
        font-size: 17px;
        padding: 12px 8px 12px 50px;
    }

    ul li::before {
        height: 28px;
        width: 28px;
        top: 12px;
        left: 8px;
    }

    ul li span {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
}
